---
import Layout from "../layout/Layout.astro";
import { Image } from "astro:assets";
import bestilBillede from "../images/bestil_brochure.svg";
import laesBillede from "../images/laes_brochure.svg";
---

<body>
  <div class="Image">
    <Image src={bestilBillede} alt="A description of my image" width={800} />
    <Image
      src={laesBillede}
      alt="Another description of my image"
      width={800}
    />
  </div>
</body>
<style>
  .Image {
    display: grid;
    grid-template-rows: 1 fr 1fr;
  }
</style>
