---
import { Image } from "astro:assets";
import bestilBillede from "../images/bestil.svg";
import laesBillede from "../images/laes.svg";
---

<section class="Image">
  <div>
    <Image src={bestilBillede} alt="A description of my image" width={300} />
  </div>
  <div>
    <Image
      src={laesBillede}
      alt="Another description of my image"
      width={300}
    />
  </div>
</section>

<style>
  .Image {
    display: grid;
    grid-template-columns: 1fr 1fr; /* i stedet for 1fr 1fr */
    justify-content: center; /* samler dem i midten */
    align-items: center;
  }
  .Image > div {
    width: fit-content;
  }
</style>
