---

---

<meta charset="UTF-8" />

<section>
  <h1>Infomøder - Højskole i udlandet</h1>
  <p>
    Hvis du drømmer om et rejseeventyr, hvor fællesskab, nye venskaber og
    tryghed er i centrum, så hop med på et af vores hyggelige online-infomøder.
    Her kan du høre mere om, hvordan du hurtigt bliver en del af et stærkt
    fællesskab, også selvom du kommer alene.
  </p>
</section>

<style>
  p {
    max-width: 60ch; /* Sørger for der er 60 tegn pr linje = UX design */
  }
  section {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(247, 240, 230);
  }
</style>
